*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif; 
}

body{
  background: linear-gradient(to right, #310d67, #82288d);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  width: 400px;
  box-shadow: 2px 5px 8px #000;
  padding: 10px;
  background-color: #1c1f26;
}

h1{
  padding: 10px;
  text-align: left;
  margin-bottom: 25px;
  color: #fff;
}

.container .input-section{
  display: flex;
  margin-bottom: 25px;
}

.container .input-section input{
  background-color: #25283C;
  color: #fff;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 340px;
}

.container .input-section button {
  background-color: #75B0F6;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

.container .input-section button:hover{
  background-color: antiquewhite;
  color: black;
}

#todo-list{
  list-style: none;
}

#todo-list li{
  background-color: #25283C;
  padding: 5px 10px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  border-bottom: 1px #666 ;
}
#todo-list li button{
  background: none;
  border: none;
}
#todo-list li button i{
  color: #f2f2f2;
  font-size: 20px;
  cursor: pointer;
}

.todo-item{
   display: flex;
   align-items: center;
}

.todo-item input {
  margin-right: 10px;
}

 /* Footer */
 .footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1rem;
 }

 .footer button {
   background: none;
   border: none;
   color: #bbb;
   cursor: pointer;
 }

 .footer button.active,
 .footer button:hover {
   color: #d1d810;
 }

 #clear-completed {
   color: #d9534f;
 }

 .task-completed{
  color: red;
  text-decoration: line-through;
 }